<p>Edit Course Details</p>

<form action="/courses/<%=@course.id%>" method="post">
  <label for="title">Course title:</label>
  <input type="text" name="title" id="title" value="<%=@course.title%>"/>

  <label for="day">Day:</label>
  <input type="text" name="day" id="day" value="<%=@course.day%>">

  <label for="capacity">Capacity:</label>
  <input type="text" name="capacity" id="capacity" value="<%=@course.capacity%>">

  <label for="gender_requirement">Gender Requirement (input 'nil' if none):</label>
  <input type="text" name="gender_requirement" id="gender-requirement" value="<%=@course.gender_requirement%>">

  <label for="age_requirement">Age Requirement (input 'nil' if none):</label>
  <input type="number" name="age_requirement" id="age-requirement" value="<%= @course.age_requirement %>">

  <input type="submit" value="Update Course Details">
</form>
