<p>Course Details</p>

<p>Title: <%= @course.title %></p>
<p>Day: <%= @course.day %></p>
<p>Capacity: <%= @course.capacity %></p>
<p>Course ID: <%= @course.id %></p>

<a href="/courses/<%= @course.id %>/addstudent">Enroll a student</a>

<a href="/courses/<%= @course.id %>/studentlist">View all students on this course</a>

<a href="/courses/<%= @course.id %>/edit">Update course details</a>

<form action="/courses/<%= @course.id %>/delete" method="post">
  <input type="submit" value="Click to remove course">
</form>
