<p>Student Details</p>


<p>Name: <%= @student.first_name %> <%= @student.last_name %></p>
<p>Age: <%= @student.age %></p>
<p>Student ID: <%= @student.id %></p>


<a href="/students/<%= @student.id %>/edit">Update Student Details</a>

<form action="/students/<%= @student.id %>/delete" method="post">
  <input type="submit" value="Click to remove student"/>
</form>
