<h3>Edit Student Details</h3>

<form action="/students/<%= @student.id %>" method="post">
  <label for="first-name">First name:</label>
  <input type="text" name="first_name" id="first-name" value="<%=@student.first_name%>"/>

  <label for="last-name">Last name:</label>
  <input type="text" name="last_name" id="last-name" value="<%=@student.last_name%>">

  <label for="age">Age:</label>
  <input type="text" name="age" id="age" value="<%=@student.age%>">

  <label for="gender">Gender: (please indicate "Male", "Female" or "Other")</label>
  <input type="text" name="gender" id="gender" value="<%= @student.gender %>">

  <input type="submit" value="Update Student Details">
</form>
