<h3>Remove Student From Course</h3>

<form action="/bookings/deleted" method="post">
  <label>Remove student:
    <select name="student_id">
      <% for student in @students %>
      <option value="<%=student.id %>"><%=student.first_name%> <%=student.last_name%></option>
      <% end %>
    </select>
  </label>

  <label>
   From course:
    <select name="course_id">
      <% for course in @courses %>
      <option value="<%=course.id %>"><%=course.title%></option>
      <% end %>
    </select>
  </label>

  <input type="submit" value="Remove Student">
</form>
